#index {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  font-family: 'Roboto', sans-serif;  
  color: black;
}

#index h1 {
  font-size: 30px;
}

#index img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
}


.description {
  font-size: 12px;
}

.title{
  width: 250px;
  text-align: center;
}

.content {
  display: flex;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-image-container{
  height: 100%;
  width: calc(100% - 250px);
}

.description-container {
  width: 100%;
  margin: 10px;
  min-height: 300px;
  p { font-size: 20px; }
  .contributors {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
  }
}

.bottom-settings {
  width: 100%;
  display: flex;
  justify-content: center; 
}

.nn-setting {
  border: 1px solid #eee;
  padding: 10px;
  margin: 5px;
  h1 {
    margin-bottom: 10px;
    font-size: 22px;
  }
  p {
    padding-bottom: 10px;
  }
}

.genetics-setting {
  border: 1px solid #eee;
    padding: 10px;
    margin: 5px;
      h1 {
    margin-bottom: 10px;
        font-size: 22px;
  }
  p {
    padding-bottom: 10px;
  }
}

.simulation-setting {
  width: 40%;
  min-width: 300px;
  margin: 5px;
  border: 1px solid #eee;
  padding: 10px;
  h1 {
    margin-bottom: 10px;
        font-size: 22px;
  }
  p {
    padding-bottom: 10px;
  }
}

.nn-setting {
  width: 50%;
}

.genetics-setting {
  width: 50%;
}
